@import '../Scss/variables';

  
header {
  background-color: $nav-color;
}

.squid-navbar {
  margin: 0 auto;
  height: $nav-height;
  max-width: 70rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &-brand,&-item {
    padding: 0.5rem;
  }

  &-brand {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }

  &-item {
    font-size: 1rem;
  }
}